/python-terraform/ecr/.terraform
/python-terraform/ecr/.terraform/*
/python-terraform/ecr/.terraform.lock.hcl
/python-terraform/ecr/terraform.tfstate.d

/python-terraform/.terraform
/python-terraform/.terraform/*
/python-terraform/.terraform.lock.hcl
/python-terraform/terraform.tfstate.d